@-moz-document domain("e-katalog.ru") {
body{
    background:#000
}
.model-short-div {
    background:#000
}
.mainmenu {
    background:#000
}
.header {
    background:#000
}
.rm-div.open {
     background:#655d5d
}
}